{% extends 'hod_template/base_template.html' %}



{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            {% comment %} Boxes Section Starts {% endcomment %}
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>{{student_obj}}</h3>

                        <p>Total Students registered</p>
                    </div>
                    <div class="icon">
                        
                    </div>
                    <a href="{% url 'manage_student' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-orange">
                  <div class="inner">
                      <h3>{{staff_obj}}</h3>

                      <p>Total Staffs registered</p>
                  </div>
                  <div class="icon">
                      
                  </div>
                  <a href="{% url 'manage_staff' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
              </div>

              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-maroon">
                <div class="inner">
                    <h3>{{domaindetails_obj}}</h3>

                    <p>Total domains</p>
                </div>
                <div class="icon">
                    
                </div>
                <a href="{% url 'manage_domain' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
                <!-- ./col -->
             
                <!-- ./col -->
               
                <!-- ./col -->
               
                <!-- ./col -->
                </div>
            {% comment %} Boxes Section Ends {% endcomment %}

         

        </div><!-- /.container-fluid -->
      </section>

      <section class="content">
          <div class="ml-auto mr-auto" style="width: 275px;" >
              <div class="text-center mt-5 " style="font-style: italic;">
                  <h3 class=""> What Is This System <b>?</b></h3>


              </div>
             
          </div>
          <div class=" mt-3 container p-3" style="
          box-shadow: rgba(0, 0, 0, 0.792157) 3px 3px 12px 0;;">

                <ul class="font-weight-normal" type="square" >
                 <br>
               <li> Managing and controlling the projects of students across all departments using manual or traditional process is a very tedious job. The main aim of this project is to create an automated system for managing all the activities of projects. Project management system is a system for managing, controlling, monitoring the  projects of students. It is a web based portal or application which is useful for students, project guide.</li>
               <li>This syetsm contains 3 users and 3 dashboards </li>
                <li> the students and staffs are already registered by the admin into the system </li>
               <li> Apart from this admin can also register the staffs and can also add the domains. Also admin can reply to students in student feedback section. <br></li>
               <li> Admin will give students and staff a specific email address and password through which they will be able to access their respective dashboard.<br></li>

  <li> Then registered students can login into the system using their id and password to get authenticated. </li>
                 <li> When the students login to the system, then they will see their part of  UI i.e. their respective profiles. </li>
                 <li>Students can add their respective iee reports of their projects by chossing the report in pdf format and the guide or staff under whom the project is being perfomed.</li>
                 <li>Also student can manages their added projects can edit them delete them can can view the reports. Also student can search for the project by using domain name or project name</li>
                 <li>student can view the marks assigned to them by their chossen staff or guide in view marks section</li>
                 <li>Students can also send the feedback or queries to admin in student feedback section</li>

                  
                 <li> project guide needs to login into the system using their id and password. When the guide login to the system, then they will see their part of  UI i.e. their respective profiles. </li>
             <li>   Admin and Project guide co-ordinates with each other. Where in we have provided an upload form for the students where the students have to fill their project details including the project report, now the form is sent to the To the project guide who in turn verifies the project details as well as the report and marks the report and the marks are sent to the respective student. </li>
                </ul>
            
          </div>
      </section>

  {% endblock main_content %}

  {% block custom_js %}
    
  {% endblock custom_js %}
